.header {
  padding-bottom: 69px;
  border-bottom: 1px solid $grey-2;  
  background: var(--content-bg-color, white);

  @media (--layout-mf-md) {
    border-bottom-width: 2px;
  }
  
  &:not(.header_compact) {
    @media (--layout-mf-lg) {
      padding-bottom: 77px;
    }
  }

  &_compact {
    padding-bottom: 0;
    border: none;
    background: transparent;
  }

  &__panel {
    width: 100%;
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
  
    @include box-aligning(36px);
    @media (--layout-mf-sm) {
      padding-top: 24px;
      padding-bottom: 24px;
      gap: 56px;
    }
  }
  &__burgerMenuButton {
    position: absolute 16px * * 16px;

    @media (--layout-mf-sm) {
      top: 24px;
    }
  }
  &__logo {
    display: inline-block;
    margin: 0 auto;

    @media (--layout-mf-sm) {
      margin: 0 0 0 49px;
    }
    @media (--layout-mf-md) {
      margin: 0;
      flex: 1 0 auto;
    }  
  }
  &__logoIcon {
    color: var(--text-primary-color, $black);
    size: 110px 32px;
    
    .header_compact & {
      color: $black;
    }
  }
  &__title {
    margin: 24px 0 0;
    color: var(--text-regular-color, $grey-4);
  
    @include font(28px, 38px, $font-weight-def);
    @media (--layout-mf-lg) {
      color: var(--text-contrast-color, $black);
      margin-top: 17px;
  
      @include font(50px, 64px, $font-weight-bolder);
    }
  }
  &__menu {
    display: none;
    gap: 24px;

    @media (--layout-mf-sm) {
      display: flex;
    }
  }
  &__menuItem {
    color: $grey-3;
    text-decoration: none;
  
    @include font-def();
  
    &_active,
    &:hover {
      color: var(--text-primary-color, $black);
    }
  }
  &__themeToggler {
    display: none;

    @media (--layout-mf-md) {
      display: block;
    }
  }
}
