.header {
  padding-bottom: 69px;
  border-bottom: 2px solid var(--grey-2, #dde2e5);
}
.header_compact {
  padding-bottom: 0;
  border: none;
}
.header__panel {
  width: 100%;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}
.header__burgerMenuButton {
  position: absolute;
}
.header__logo {
  width: 110px;
  height: 32px;
  color: var(--black, black);
  margin: 0 auto;
}
.header__title {
  margin: 24px 0 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  color: var(--grey-4, #495057);
}
@media screen and (min-width: 576px) {
  .header__panel {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header__logo {
    margin: 0 0 0 49px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .header:not(.header_compact) {
    padding-bottom: 77px;
  }
  .header__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black, black);
    margin-top: 17px;
  }
}
