.header {
  padding: 96px 0 77px;
  border-bottom: 2px solid var(--grey-2, #dde2e5);
}
.header_compact {
  padding: 24px 0 0;
  border: none;
}
.header__title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  color: var(--gray-4, #495057);
}
@media screen and (min-width: 992px) {
  .header__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black, black);
  }
}
