$maxTabsCnt: 5;

.tabs {
  &__nav {
    display: flex;
    gap: 24px;
    width: 100%;
    overflow: hidden;
  
    @media (--layout-mf-md) {
      gap: 40px;
    }
  }
  &__content {
    display: none;

    .tabs__tabControl[class~='tabs__tabControl_allTabs']:checked ~ & {
      display: block;
    }
  }
  &__tabControl {
    @util hide-visually;
  }
  &__tabTitle {
    color: var(--text-pale-color, $grey-3);
    display: inline-block;
    border-bottom: 5px solid transparent;
    padding-bottom: 8px;
    
    @include text-interactive();
    @include font-def(); 
  
    &:hover {
      color: var(--text-primary-color, $grey-4);
    }    
  }
}

%activeTab {
  color: var(--text-primary-color, $black);
  border-bottom-color: var(--text-primary-color, $black);
  cursor: default;
}
.tabs__tabControl[class~='tabs__tabControl_allTabs']:checked
  ~ .tabs__nav .tabs__tabTitle[class~='tabs__tabTitle_allTabs'] {
    @extend %activeTab;
}
@for $num from 1 through $maxTabsCnt {
  .tabs__tabControl[class~='tabs__tabControl_tabNum_#{$num}']:checked
  ~ .tabs__content[class~='tabs__content_tabNum_#{$num}'] {
    display: block;
  }
  .tabs__tabControl[class~='tabs__tabControl_tabNum_#{$num}']:checked
  ~ .tabs__nav .tabs__tabTitle[class~='tabs__tabTitle_tabNum_#{$num}'] {
    @extend %activeTab;
  }
}
