.button {
  height: 48px;
  line-height: normal;
  padding: 15px 15px 14px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: transform 0.2s linear;
}
.button:active {
  transform: translateY(1px);
}
.button_w_175 {
  width: 175px;
}
.button_var_primary {
  background: var(--primary, #4263eb);
  color: var(--white, white);
}
.button_var_primary:hover,
.button_var_primary:active {
  background: var(--primary-active, #4263eb);
}
.button_var_secondary {
  background: var(--secondary, #4263eb);
  color: var(--white, white);
}
.button_var_secondary:hover,
.button_var_secondary:active {
  background: var(--secondary-active, #4263eb);
  color: var(--white, white);
}
.button_var_alternate {
  background: transparent;
  border: 1px solid var(--border-color, #acb5bd);
  color: var(--grey-4, #495057);
}
.button_var_alternate:hover,
.button_var_alternate:active {
  border-color: var(--black, black);
  color: var(--black, black);
}
.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
