.button {
  height: 3em;
  line-height: normal;
  padding: 0.94em 0.94em 0.88;
  box-sizing: border-box;
  border-radius: 0.5em;
  text-align: center;
  border: 0;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
  transition: transform 0.2s linear;

  @include font(16px, false, $font-weight-bolder, Roboto);

  &:active {
    transform: translateY(1px);
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &_inStack {
    font-size: 12px;
    width: 75%;

    @media (--layout-mf-sm) {
      font-size: 14px;
    }
    @media (--layout-mf-md) {
      font-size: 16px;
    }
  }
  &_var_primary {
    color: $white $color-primary;

    &:hover,
    &:active {
      background: $color-primary-active;
    }
  }
  &_var_secondary {
    color: $white $color-secondary;
    
    &:hover,
    &:active {
      color: $white $color-secondary-active;
    }
  }
  &_var_alternate {
    border: 1px solid var(--text-pale-color, $grey-3);
    color: var(--text-regular-color, $grey-4) transparent;
    
    &:hover,
    &:active {
      border-color: var(--text-primary-color, $black);
      color: var(--text-contrast-color, $black);
    }
  }
  @each $size in (150, 200) {
    &_width_$size {
      width: #{$size}px;
    }
  }
}
