.button {
  height: 3em;
  line-height: normal;
  padding: 0.94em 0.94em 0.88;
  box-sizing: border-box;
  border-radius: 0.5em;
  text-align: center;
  border: 0;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
  transition: transform 0.2s linear;

  @include font(16px, false, $font-weight-bolder, Roboto);
}
.button_inStack {
  font-size: 12px;
  width: 75%;
}
@each $size in (150, 200) {
  .button_width_$size {
    width: #{$size}px;
  }
}
.button:active {
  transform: translateY(1px);
}
.button_var_primary {
  color: $white $primary;
}
.button_var_primary:hover,
.button_var_primary:active {
  background: $primary-active;
}
.button_var_secondary {
  color: $white $secondary;
}
.button_var_secondary:hover,
.button_var_secondary:active {
  color: $white $secondary-active;
}
.button_var_alternate {
  border: 1px solid var(--text-pale-color, $grey-3);
  color: var(--text-regular-color, $grey-4) transparent;
}
.button_var_alternate:hover,
.button_var_alternate:active {
  border-color: var(--text-primary-color, $black);
  color: var(--text-contrast-color, $black);
}
.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
@media (--layout-mf-sm) {
  .button_inStack {
    font-size: 14px;
  }
}
@media (--layout-mf-md) {
  .button_inStack {
    font-size: 16px;
  }
}
