.accordion {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.accordion__item {
  border: 1px solid var(--content-border-color, #acb5bd);
  background: var(--content-bg-color, white);
  border-radius: 8px;
}
.accordion__item:not(:last-child) {
  margin-bottom: 8px;
}
.accordion__itemSummary {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  color: var(--text-contrast-color, black);
  cursor: pointer;
  user-select: none;
}
.accordion__itemSummaryMarker {
  width: 16px;
  height: 8px;
  display: inline-block;
  color: var(--text-regular-color, #495057);
  flex-shrink: 0;
}
.accordion__item[open] .accordion__itemSummary {
  padding-bottom: 16px;
}
.accordion__item[open] .accordion__itemSummaryMarker {
  transform: rotate(180deg);
}
.accordion__itemDetails {
  margin: 0;
  padding: 0 32px 32px;
  color: var(--text-regular-color, #495057);
}
