.itemsStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;  
}
@media (--layout-mf-sm) {
  .itemsStack {
    gap: 8px;
  }
}
@media (--layout-mf-md) {
  .itemsStack {
    gap: 12px;
  }
}
@media (--layout-mf-lg) {  
  .itemsStack {
    gap: 16px;
  }
}
