.form__cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.form__fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__feild {
  gap: 14px;
}
.form__submitButton {
  min-width: 175px;
}
.form__fields+.form__submitButton {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .form__cols {
    padding: 14px;
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 992px) {  
  .form__cols {
    gap: 42px;
  }
}
