.toggler {
  position: relative;
}
.toggler__input {
  opacity: 0;
  position: absolute;
  left: -100vw;
}
.toggler__state {
  display: inline-flex;
  gap: 12px;
  align-items: center;
}
.toggler__state_inRow {
  justify-content: space-between;
  width: 100%;
}
.toggler__input:not(:disabled) ~ .toggler__state {
  cursor: pointer;
}
.toggler__control {
  border: 1px solid var(--grey-2, #dde2e5);
  border-radius: 14px;
  width: 52px;
  height: 28px;
  box-sizing: border-box;
  text-align: left;
  transition: all 0.5s;
}
.toggler__title {
  color: var(--grey-4, #495057);
  font-size: 16px;
  line-height: 24px;
  user-select: none;
}
.toggler__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--grey-3, #acb5bd);
}
.toggler__icon_contrast_onLight {
  color: var(--text-contrastOnLight-color);
}
.toggler__icon_contrast_onDark {
  color: var(--text-contrastOnDark-color);
}
.toggler__control:before {
  content: '';
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 1px;
  display: inline-block;
  background: var(--grey-2, #dde2e5);
  transition: all 0.5s;
}
.toggler__input:checked ~ .toggler__state .toggler__control {
  border-color: var(--primary, var(--blue, #4263eb));
  background: var(--primary, var(--blue, #4263eb));
}
.toggler__input:checked ~ .toggler__state .toggler__control:before {
  background: var(--white, white);
  transform: translateX(24px);
}
.toggler__input:focus ~ .toggler__state .toggler__title {
  text-decoration: underline;
}
.toggler__input:active ~ .toggler__state .toggler__control {
  border-color: var(--grey-3, #acb5bd);
  background: var(--grey-1, #f8f9fa);
}
.toggler__input:active:not(:checked)
  ~ .toggler__state
  .toggler__control:before {
  background: var(--grey-3, #acb5bd);
}
.toggler__input:checked:active:not(:disabled)
  ~ .toggler__state
  .toggler__control {
  border-color: var(--primary-active, var(--blue-darker, #2342c0));
  background: var(--primary-active, var(--blue-darker, #2342c0));
}
.toggler__input:disabled ~ .toggler__state .toggler__control {
  border-color: var(--grey-2, #dde2e5);
  background: var(--grey-2, #dde2e5);
}
.toggler__input:disabled ~ .toggler__state .toggler__control:before {
  background: var(--grey-3, #acb5bd);
}
