.toggler {
  position: relative;

  &__input {
    @util hide-visually;
  }

  &__state {
    display: inline-flex;
    gap: 12px;
    align-items: center;
  
    &_inRow {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__input:not(:disabled) ~ &__state {
    cursor: pointer;
  }

  &__control {
    border: 1px solid var(--control-border-color, $grey-2);
    border-radius: 14px;
    box-sizing: border-box;
    text-align: left;
    transition: all .5s;
    size: 52px 28px;
  
    &::before {
      content: '';
      border-radius: 12px;
      size: 24px;
      margin: 1px;
      display: inline-block;
      background: var(--control-border-color, $grey-2);
      transition: all .5s;  
    }
  }

  &__input:checked ~ &__state &__control {
    border-color: var(--control-checked-color, $blue);
    background: var(--control-checked-color, $blue);
  }

  &__input:active ~ &__state &__control {
    border-color: var(--control-active-border-color, $grey-3);
    background: var(--control-active-bg-color, $grey-1);
  }

  &__input:disabled ~ &__state &__control {
    border-color: var(--control-disabled-border-color, $grey-2);
    background: var(--control-disabled-color, $grey-2);   
  }

  &__input:checked:active:not(:disabled)
    ~ &__state &__control {
    border-color: var(--control-checked-active-color, $blue-darker);
    background: var(--control-checked-active-color, $blue-darker);
  }

  &__input:checked ~ &__state &__control::before {
    background: $white;
    transform: translateX(24px);
  }

  &__input:disabled ~ &__state &__control::before {
    background: var(--control-disabled-bg-color, $grey-2);   
  }

  &__input:active:not(:checked) ~ &__state &__control::before {
    background: var(--control-active-border-color, $grey-3);
  }   

  &__title {
    color: var(--control-color, $grey-4);
    user-select: none;
  
    @include font-def; 
  }

  &__input:focus ~ &__state &__title {
    text-decoration: underline;
  }

  &__icon {
    display: inline-block;
    color: var(--text-pale-color, $grey-2);
    size: 24px;
  
    &_contrast_onLight {
      color: var(--text-contrastOnLight-color); /* stylelint-disable-line custom-property-pattern */
    }

    &_contrast_onDark { 
      color: var(--text-contrastOnDark-color); /* stylelint-disable-line custom-property-pattern */
    }
  }
}
