@import '../../src/vars';
@import '../../src/mixins';
@import '../../src/main';

.modal {
  background: rgba(196, 196, 196, 0.5);
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;

  &_opened {
    display: block;
    position: absolute;
  }
  &_noVeil {
    background: transparent;
  }

  &__window {
    width: 90%;
    min-width: 304px;
    padding: 30px 40px 33px;
    border-radius: 8px;
    background: var(--content-bg-color, white);
    box-sizing: border-box;
    @util center;

    @media screen and (min-width: 576px) {
      width: 428px;
    }
  }
  &__content {
    color: var(--text-regular-color, #495057);
    margin: 0;
    @include font-def();
  }
  &__title {
    color: var(--text-contrast-color, #334d6e);
    margin: 0;
    @include font(20px, 600);
    /* @include font(20px, 600, null, 24px); */

    + .modal__content {
      margin-top: 14px;
    }
  }    
  &__closeButton {
    color: var(--text-contrast-color, #334d6e);
    cursor: pointer;
    background: none;
    font-size: 0; 
    @include reset-geometry();
    @util position(absolute, 12px 12px null null);
  }
  &__closeButtonIcon {
    @util size(16px);
  }
}
@media screen and (min-width: 768px) {
  .modal_compact .modal__window {
    padding: 30px 40px 33px;
  }
}
