.modal {
  background: rgba(196, 196, 196, 0.5);
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1;
}
.modal_opened {
  display: block;
  position: absolute;
}
.modal_noViel {
  background: transparent;
}
.modal__window {
  width: 90%;
  min-width: 304px;
  padding: 30px 40px 33px;
  border-radius: 8px;
  background: var(--content-bg-color, white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
}
.modal__title {
  color: var(--text-contrast-color, #334d6e);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.modal__content {
  color: var(--text-regular-color, #495057);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.modal__title + .modal__content {
  margin-top: 14px;
}
.modal__closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;  
  color: var(--text-contrast-color, #334d6e);
}
.modal__closeButtonIcon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 576px) {
  .modal__window {
    width: 428px;
  }
}
