.modal {
  background: rgba(196, 196, 196, 0.5);
  display: none;

  @include box-covering(fixed, 1);
}
.modal_opened {
  display: block;
  position: absolute;
}
.modal_noViel {
  background: transparent;
}
.modal__window {
  width: 90%;
  min-width: 304px;
  padding: 30px 40px 33px;
  border-radius: 8px;
  background: var(--content-bg-color, $white);
  box-sizing: border-box;

  @util center;
}
.modal_compact .modal__window {
  width: 240px;
  transform: translateX(-50%) translateY(-50%) scale(0.6);
  padding: 25px;
}
.modal__title {
  color: var(--text-contrast-color, $grey-4);
  margin: 0;

  @include font(20px, 24px, $font-weight-bold);
}
.modal__content {
  color: var(--text-regular-color, $grey-4);
  margin: 0;

  @include font-def();
}
.modal__title + .modal__content {
  margin-top: 14px;
}
.modal__closeButton {
  cursor: pointer;
  color: var(--text-contrast-color, $grey-4) none;
  position: absolute 12px 12px * *;
  
  @include reset-geometry(true);
}
.modal__closeButtonIcon {
  size: 16px;
}
@media (--layout-mf-sm) {
  .modal__window {
    width: 428px;
  }
}
@media (--layout-mf-md) {
  .modal_compact .modal__window {
    padding: 30px 40px 33px;
  }
}
