.histogram {
  border: 1px solid var(--content-border-color, $grey-3);
  color: var(--text-contrast-color, black);
  font-size: 16px;
  border-radius: 0.5em;
  padding: 1em 1.5em 1.5em;
  box-sizing: border-box;
}
.histogram_compact {
  font-size: 9px;
}
.histogram_width_340 {
  width: 340px;
}
.histogram__info {
  display: flex;
}
.histogram__score {
  flex-grow: 1;
}
.histogram__scoreCaption {
  @include font(1em, 1.5em);
}
.histogram__scoreValue {
  margin-top: 0.38em;

  @include font(1.25em, 1.63em);
}
.histogram_compact .histogram__scoreValue {
  font-weight: $font-weight-bold;
  color: var(--text-primary-color, $black);
}
.histogram__showAll {
  color: $primary;
  text-decoration: none;
  margin-top: 0.19em;
  flex-shrink: 0;

  @include font(1em, 1.5em);
}
.histogram__columns {
  display: flex;
  align-items: flex-end;
  height: 3.13em;
  gap: 1px;
  margin-top: 2.44em;
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 0.3s forwards histogramGrow;
}
.histogram_compact .histogram__columns {
  margin-top: 1.25em;
  height: 2.25em;
} 
.histogram__column {
  background: $primary;
  flex-grow: 1;
}
@media (--layout-mf-sm) {
  .histogram_compact {
    font-size: 12px;
  }
}
@media (--layout-mf-md) {
  .histogram_compact {
    font-size: 13px;
  } 
}
@media (--layout-mf-lg) {  
  .histogram_compact {
    font-size: 14px;
    margin: 0 -7px;
  }
}
@keyframes histogramGrow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
