.histogram {
  border: 1px solid var(--border-color, #acb5bd);
  border-radius: 8px;
  padding: 15px 25px 25px;
}
.histogram__info {
  display: flex;
}
.histogram__score {
  flex-grow: 1;
}
.histogram__scoreCaption {
  font-size: 16px;
  line-height: 24px;
}
.histogram__scoreValue {
  font-size: 20px;
  line-height: 26px;
  margin-top: 6px;
}
.histogram__showAll {
  color: var(--primary, #374fc7);
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  flex-shrink: 0;
}
.histogram__columns {
  display: flex;
  align-items: flex-end;
  height: 50px;
  gap: 1px;
  margin-top: 40px;
}
.histogram__column {
  background: var(--primary, #374fc7);
  flex-grow: 1;
}
