.page {
  height: 100%;

  @include box-stack;

  &_component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--page-bg-color, $grey-0);

    @media (--layout-mf-md) {
      row-gap: 36px;
    }
  }
  
  &__container {
    width: 100%;
    justify-self: center;
    grid-template-columns: auto 1fr;
    column-gap: 56px;
    box-sizing: border-box;

    @media (--layout-mf-md) {
      display: grid;
    }
  
    .page_component & {
      background: var(--content-bg-color, white);
      position: relative;

      @media (--layout-mf-sm) {
        background: transparent;
      }
    }
  }

  &__content {
    background: var(--page-bg-color, $grey-0);
    padding: 24px 0 92px;
    flex-grow: 1;
  
    .page_component & {
      background: transparent;
      padding: 32px 0;
      height: 100%;
      box-sizing: border-box;

      @media (--layout-mf-sm) {
        background: var(--content-bg-color, white);
        padding: 32px;
        border-radius: 12px;
        box-shadow: 0 2px 4px 0 rgb(33 36 41 / 5%);
        position: relative;
      }
      @media (--layout-mf-md) {
        padding: 32px 48px;
      }
    }
  }

  &__title {
    color: var(--text-contrast-color, $grey-4);
    margin: 0 0 32px;
  
    @include font(20px, 26px, $font-weight-def);
    @media (--layout-mf-md) {
      margin-bottom: 58px;
  
      @include font(28px, 38px);
    }
  }
}
