.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page_component {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--bg-color, #f9fafc);
}
.page__container {
  width: 100%;
  justify-self: center;
  grid-template-columns: auto 1fr;
  column-gap: 56px;
  box-sizing: border-box;
}
.page_component .page__container {
  background: var(--white, white);
}
.page__content {
  background: var(--bg-color, #f9fafc);
  padding: 68px 0 92px;
  flex-grow: 1;
}
.page_component .page__content {
  background: transparent;
  padding: 32px 0;
  /* border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05); */
  height: 100%;
  box-sizing: border-box;
}
.page__title {
  color: var(--Gray-4, #495057);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 32px;
}
@media screen and (min-width: 576px) {
  .page_component .page__container {
    background: transparent;
  }
  .page_component .page__content {
    background: var(--white, white);
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
  }
}
@media screen and (min-width: 768px) {
  .page_component {
    row-gap: 36px;
  }
  .page__container {
    display: grid;
  }
  .page_component .page__content {
    padding: 32px 48px;
  }
  .page__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 58px;
  }
}
