$avatar-sizes: (
  small: 102px,
  normal: 116px,
  big: 160px,
  huge: 200px,
);

.avatar {
  border-radius: 50%;
  overflow: hidden;
  font-size: 16px;

  @include box-centering();
}
@each $size $name in $avatar-sizes {
  .avatar_size_$name {
    size: $size;
  }
}
.avatar_onPreviewCard {
  @extend .avatar_size_normal;
}
.avatar__img {
  @include img-cover();
}
@media (--layout-mf-md) {
  .avatar_onPreviewCard {
    @extend .avatar_size_big;
  }
}
