.avatar {
  border-radius: 50%;
  overflow: hidden;
  font-size: 16px;

  @include box-centering();
}
.avatar_size_small {
  size: 102px;
}
.avatar_size_normal {
  size: 116px;
}
.avatar_size_big {
  size: 160px;
}
.avatar_size_huge {
  size: 200px;
}
.avatar_onPreviewCard {
  @extend .avatar_size_normal;
}
.avatar__img {
  @include img-cover();
}
@media (--layout-mf-md) {
  .avatar_onPreviewCard {
    @extend .avatar_size_big;
  }
}
