.previewCards__tabs {
  margin-top: -62px;
}
.previewCards__tabs .tabs__content {
  padding-top: 16px;
}
.previewCards__loadMoreBtn {
  width: 182px;
  display: block;
  margin: 64px auto 0;
}
@media screen and (min-width: 768px) {
  .previewCards__tabs {
    margin-top: -63px;
  }
}
@media screen and (min-width: 992px) {
  .previewCards__tabs .tabs__content {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1175px) {
  .previewCards__tabs .tabs__content {
    margin-top: 68px;
  }
}
