.previewCards__loadMoreBtn {
  width: 182px;
  display: block;
  margin: 64px auto 0;
}
.previewCards__previewItem {
}
.previewCards__previewItem_calendar {
  width: 66%;
  height: 100%;
}
.previewCards__previewCalendar {
  font-size: 10px;
}
.previewCards__previewItem_histogram {
  width: 100%;
}
.previewCards__previewHistogramScoreCap {
  font-size: 13px;
}
.previewCards__previewHistogramScoreVal {
  font-weight: 600;
}
.previewCards__previewHistogramShowAll {
  font-size: 13px;
}
.previewCards__previewHistogramCols {
  margin-top: 20px;
  height: 35px;
}
.previewCards__previewItem_modal {
  width: 100%;
  height: 100%;
  position: relative;
}
.previewCards__previewModalWindow {
  transform: translateX(-50%) translateY(-50%) scale(0.6);
}
.previewCards__previewModalWindowBtn {
  width: 175px;
}
