.previewCards__loadMoreBtn {
  width: 182px;
  display: block;
  margin: 64px auto 0;
}
.previewCards__previewCalendar {
  width: 164px;
  box-sizing: border-box;
  font-size: 9px;
  border: 0;
}
.previewCards__previewModalWindow {
  width: 100%;
  transform: translateX(-50%) translateY(-50%) scale(0.7);
}
.previewCards__previewHistogram {
  font-size: 9px;
}
.previewCards__previewAvatar {
  width: 116px;
  height: 116px;
}
@media screen and (min-width: 576px) {
  .previewCards__previewCalendar {
    font-size: 10px;
    width: 202px;
    border: 1px solid var(--border-color, #acb5bd);
  }
  .previewCards__previewHistogram {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .previewCards__previewHistogram {
    font-size: 13px;
  }
  .previewCards__previewAvatar {
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width: 992px) {
  .previewCards__previewHistogram {
    font-size: 14px;
  }
}
