@import 'normalize.css';
@import '../fonts/fonts.css';
@import '../../components/layoutContainer/layoutContainer.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/tileList/tileList.css';
@import '../../components/previewCards/previewCards.css';
@import '../../components/previewCard/previewCard.css';
@import '../../components/menu/menu.css';
@import '../../03-lection1/01-button/button.css';
@import '../../09-lection7/01-burger-menu/burger-menu.css';
@import '../../components/burgerMenuShowButton/burgerMenuShowButton.css';
@import '../../components/tabs/tabs.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #4263eb;
  --purple-darker: #5028c6;
  --blue-light: rgba(160, 177, 245, 0.2);
  --blue-darker: #2342c0;
  --red: #f03d3e;
  --orange: #d84910;
  --grey-0: #f9fafc;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);
  --notification: var(--orange);

  --primary: var(--blue);
  --secondary: var(--purple);
  --primary-active: var(--blue-darker);
  --secondary-active: var(--purple-darker);

  --border-color: var(--grey-3);
  --bg-color: var(--grey-0);
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black, black);
}
body:has(.burgerMenu[data-open]) {
  overflow: hidden;
}
body:has(.burgerMenu[data-open]) .burgerMenuShowButton {
  opacity: 0;
}  
.preload ._noAnimateOnload {
  transition: none !important;
  animation-duration: 0s !important;
}
