.sourceCode {
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  margin: 0;

  &__inner {
    padding: 0 1em;
    
    .sourceCode code& {
      padding: 0;
    }
  }
}
