$skeleton-txt-sizes: (
  short: 65%, 
  middle: 90%, 
  long: 100%
);

.skeleton {
  border: 1px solid var(--content-border-color, $grey-3);
  font-size: 16px;
  border-radius: 0.5em;
  padding: 1.5em 2.5em 2em 1.5em;
}
.skeleton_noBorder {
  border: 0;
}
.skeleton_compact {
  padding: 0;
  font-size: 10px
}
.skeleton__header {
  display: flex;
  align-items: center;
}
.skeleton__picture {
  margin-right: 1em;
  flex-shrink: 0;

  @include circled(4em);
}
.skeleton__textline {
  height: 1.25em;
  margin: 0.5em 0;
}
.skeleton__picture,
.skeleton__textline {
  background: var(--content-color, $grey-2);
  background: linear-gradient(
    90deg,
    $grey-2 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    $grey-2 102.52%
  );
  background-size: 200%;
  animation: 1.5s linear infinite forwards skeletonLoadAnimation;
}
@each $size $name in $skeleton-txt-sizes {
  .skeleton__textline_length_$name {
    width: $size;
  }
}
.skeleton__title {
  flex-grow: 1;
}
.skeleton__content {
  margin-top: 1.5em;
}
@media (--layout-mf-sm) {
  .skeleton_compact {
    padding: 1em 2em 1.5em 1em;
  }
}
@media (--layout-mf-lg) {  
  .skeleton_compact {
    font-size: 12px;
    padding: 0;
  }
}
@keyframes skeletonLoadAnimation {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}
