.skeleton {
  border: 1px solid var(--border-color, #acb5bd);
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
}
.skeleton__header {
  display: flex;
  align-items: center;
}
.skeleton__picture {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-right: 16px;
  flex-shrink: 0;
}
.skeleton__textline {
  height: 20px;
  margin: 8px 0;
}
.skeleton__picture,
.skeleton__textline {
  background: var(--grey-2, #dde2e5);
  background: linear-gradient(
    90deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  background-size: 200%;
  animation: 1.5s linear infinite forwards skeletonLoadAnimation;
}
.skeleton__textline_length_short {
  width: 65%;
}
.skeleton__textline_length_middle {
  width: 90%;
}
.skeleton__textline_length_long {
  width: 100%;
}
.skeleton__title {
  flex-grow: 1;
}
.skeleton__content {
  margin-top: 24px;
}
@keyframes skeletonLoadAnimation {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}
