$tipSize: 7px;
$negativeTipSize: calc(-1 * $tipSize);
$parentWithTipSize: calc(100% + $tipSize);

@mixin tip($pos) {
  @util triangle($tipSize, var(--tb-color, $black), $pos);
}

.tooltip {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  color: var(--text-contrast-color, $black);

  &_opened {
    text-align: center;
  }
  &__trigger {
    size: 24px;
  }
  &__bubble {
    --tb-color: var(--text-contrast-color, $black);
    
    display: none;
    border-radius: 10px;
    color: $grey-2 var(--tb-color, $black);
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);  
    text-align: center;
    font-size: 16px;
    min-height: 24px;
    padding: 13px 21px 8px;
    width: 87px;

    &::after {
      content: '';
    }

    &_primary {
      --tb-color: $primary;
    }
    &_pos_top {
      bottom: $parentWithTipSize;
    
      @include axis-centered(horizontal);
    
      &::after {
        top: 100%;
      
        @include tip(down);
        @include axis-centered(horizontal);
      }
    }
    &_pos_bottom {
      top: 100%;
    
      @include axis-centered(horizontal);
    
      &::after {
        top: $negativeTipSize;
      
        @include tip(up);
        @include axis-centered(horizontal);
      }
    }
    &_pos_left {
      right: $parentWithTipSize;
    
      @include axis-centered(vertical);
    
      &::after {
        left: 100%;
      
        @include tip(right);
        @include axis-centered(vertical);
      }
    }
    &_pos_right {
      left: $parentWithTipSize;
    
      @include axis-centered(vertical);
    
      &::after {
        left: $negativeTipSize;
      
        @include tip(left);
        @include axis-centered(vertical);
      }
    }

    .tooltip_opened & {
      position: relative * * * auto;
      transform: none;
      margin-bottom: $tipSize;
    }
    .tooltip__trigger:hover ~ &,
    .tooltip_opened & {
      display: block;
    }
  }
}
