.footer {
  padding: 72px 0;
  text-align: center;
  background: burlywood;
}
.footer__caption {
  font-size: 38px;
  font-weight: 50;
  margin: 0 0 32px;
}
.footer__desc {
  padding: 0 0 60px;
  margin: 0 auto;
  max-width: 640px;
  font-size: 16px;
  line-height: 24px;
}
