.footer {
  padding: 72px 0;
  text-align: center;
  border-top: 2px solid var(--grey-2, #dde2e5);
}
.footer_compact {
  padding: 20px 0 24px;
  border: none;
}
.footer__title {
  font-size: 38px;
  font-weight: 50;
  margin: 0 0 32px;
}
.footer_compact .footer__title {
  color: var(--grey-3, #acb5bd);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer__desc {
  padding: 0 0 60px;
  margin: 0 auto;
  max-width: 640px;
  font-size: 16px;
  line-height: 24px;
}
