.footer {
  padding: 42px 0;
  text-align: center;
  border-top: 1px solid $grey-2;
  background: var(--content-bg-color, white);
}
.footer_compact {
  padding: 16px 0;
  border: none;
  background: transparent;
}
.footer__title {
  margin: 0;
  color: var(--text-contrast-color, $black);

  @include font(22px, false, 400);
}
.footer_compact .footer__title {
  color: $grey-3;
  text-transform: uppercase;

  @include font(12px, 18px, 500, false, 0.48em);
}
.footer__desc {
  padding: 0 0 20px;
  margin: 18px auto 0;
  max-width: 640px;
  color: var(--text-contrast-color, $black);

  @include font(14px, normal);
}
@media (--layout-mf-sm) {
  .footer_compact {
    padding: 24px 0;
  }
}
@media (--layout-mf-md) {
  .footer {
    padding: 56px 0;
    border-top-width: 2px;
  }
  .footer_compact {
    padding-top: 20px;
  }
  .footer__desc {
    padding-bottom: 30px;
  }
}
@media (--layout-mf-lg) {
  .footer:not(.footer_compact) {
    padding: 72px 0;
  }
  .footer:not(.footer_compact) .footer__title {
    color: var(--text-contrast-color, $black);
    margin: 0 0 32px;

    @include font(38px, false, 500);
  }
  .footer__desc {
    margin-top: 32;
    padding-bottom: 60px;
    color: var(--text-contrast-color, $black);

    @include font-def();
  }
}
