.burgerMenuShowButton {
  display: none;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  opacity: 1;
  transition: opacity 0.25s linear;
}
.burgerMenuShowButton:hover {
  background: var(--grey-2, $grey-3);
}
.burgerMenuShowButton__icon {
  width: 24px;
  height: 24px;
  color: var(--text-contrast-color, black)
}
@media (--layout-df-md) {
  .burgerMenuShowButton {
    display: inline-block;
  }
}
