.burgerMenuShowButton {
  display: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s linear;

  @include reset-geometry(true);
  @util circle(32px, none);
}
.burgerMenuShowButton:hover {
  background: var(--grey-2, $grey-3);
}
.burgerMenuShowButton__icon {
  color: var(--text-contrast-color, $black);
  size: 24px;
}
@media (--layout-df-md) {
  .burgerMenuShowButton {
    display: inline-block;
  }
}
