.previewCard {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(33 36 41 / 5%);
  box-sizing: border-box;
  text-decoration: none;
  color: inherit var(--content-bg-color, white);
  overflow: hidden;

  @media (--layout-mf-md) {
    border-radius: 12px;
  }
  @media (--layout-mf-lg) {
    padding: 32px;
  }

  &__placeholder {
    height: 177px;
    padding: 8px;
    margin: -8px -8px 0;
    border-bottom: 1px solid var(--text-mute-color, $grey-2);
    box-sizing: border-box;
  
    @include box-centering;
    @media (--layout-mf-sm) {
      height: 222px;
    }
    @media (--layout-mf-lg) {
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }
  
    &_noPaddings {
      padding: 0;
    }

    &_noBorder {
      border-bottom: 0;
    }
  }

  &__preview {
    margin: auto;
    position: relative;
  
    &_fullWidth {
      width: 100%;
    }

    &_fullSize {
      size: 100%;
    }

    &_scaledForMobile {
      transform: scale(.6);

      @media (--layout-mf-sm) {
        transform: scale(.8);
      }
      @media (--layout-mf-md) {
        transform: scale(.9);
      }
      @media (--layout-mf-lg) {
        transform: scale(1);
      }
    }
  }

  &__title {
    margin: 12px 0 0;
    text-align: center;
    color: var(--text-contrast-color, $black);
  
    @include font(16px, normal, $font-weight-def, Roboto);
    @media (--layout-mf-lg) {
      @include font(21px, false, $font-weight-bolder);
    }
  }

  &__desc {
    margin: 4px 0;
    text-align: center;
    color: var(--text-pale-color, $grey-3);
  
    @include font(14px, normal, false, Roboto);
    @media (--layout-mf-lg) {
      margin: 6px 0 0;
      color: $grey-4;
  
      @include font(16px, normal);
    }
  }
}
