.previewCard {
  padding: 8px;
  border-radius: 8px;
  background: var(--content-bg-color, white);
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}
.previewCard__placeholder {
  height: 177px;
  padding: 8px;
  margin: -8px -8px 0;
  border-bottom: 1px solid var(--text-mute-color, $grey-2);
  box-sizing: border-box;

  @include box-centering();
}
.previewCard__placeholder_noPaddings {
  padding: 0;
}
.previewCard__placeholder_noBorder {
  border-bottom: 0;
}
.previewCard__preview {
  margin: auto;
  position: relative;
}
.previewCard__preview_fullWidth {
  width: 100%;
}
.previewCard__preview_fullSize {
  @util size(100%);
}
.previewCard__preview_scaledForMobile {
  transform: scale(0.6);
}
.previewCard__title {
  margin: 12px 0 0;
  text-align: center;
  color: var(--text-contrast-color, $black);

  @include font(16px, normal, 400, Roboto);
}
.previewCard__desc {
  margin: 4px 0;
  text-align: center;
  color: var(--text-pale-color, $grey-3);

  @include font(14px, normal, false, Roboto);
}
@media (--layout-mf-sm) {
  .previewCard__placeholder {
    height: 222px;
  }
  .previewCard__preview_scaledForMobile {
    transform: scale(0.8);
  }
}
@media (--layout-mf-md) {
  .previewCard {
    border-radius: 12px;
  }
  .previewCard__preview_scaledForMobile {
    transform: scale(0.9);
  }
}
@media (--layout-mf-lg) {
  .previewCard {
    padding: 32px;
  }
  .previewCard__placeholder {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  .previewCard__preview_scaledForMobile {
    transform: scale(1);
  }
  .previewCard__title {
    @include font(21px, false, 500);
  }
  .previewCard__desc {
    margin: 6px 0 0;
    color: $grey-4;

    @include font(16px, normal);
  }
}
