.previewCard {
  padding: 8px;
  border-radius: 8px;
  background: var(--white, white);
  box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
.previewCard__placeholder {
  height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: -8px -8px 0;
  border-bottom: 1px solid var(--grey-2, #dde2e5);
  box-sizing: border-box;
}
.previewCard__placeholder_fullWidth {
  width: 100%;
}
.previewCard__placeholder_noPaddings {
  padding: 0;
}
.previewCard__placeholder_noBorder {
  border-bottom: 0;
}
.previewCard__preview {
  margin: auto;
  position: relative;
}
.previewCard__preview_fullWidth {
  width: 100%;
}
.previewCard__preview_fullSize {
  width: 100%;
  height: 100%;
}
.previewCard__preview_scaledForMobile {
  transform: scale(0.6);
}
.previewCard__title {
  margin: 12px 0 0;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.previewCard__desc {
  margin: 4px 0;
  text-align: center;
  color: var(--grey-3, #acb5bd);
  font-size: 14px;
  font-family: Roboto;
  line-height: normal;
}
@media screen and (min-width: 576px) {
  .previewCard__placeholder {
    height: 222px;
  }
  .previewCard__preview_scaledForMobile {
    transform: scale(0.8);
  }
}
@media screen and (min-width: 768px) {
  .previewCard {
    border-radius: 12px;
  }
  .previewCard__preview_scaledForMobile {
    transform: scale(0.9);
  }
}
@media screen and (min-width: 992px) {
  .previewCard {
    padding: 32px;
  }
  .previewCard__placeholder {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  .previewCard__preview_scaledForMobile {
    transform: scale(1);
  }
  .previewCard__title {
    font-size: 21px;
    font-weight: 500;
  }
  .previewCard__desc {
    margin: 6px 0 0;
    font-size: 16px;
    color: var(--grey-4, #495057);
    line-height: normal;
  }
}
