.formField {
  display: flex;
  flex-direction: column;
  gap: 0.31em;
  align-items: flex-start;
  font-size: 16px;
}
.formField_onPreviewCard {
  font-size: 10px;
  width: 90%;
}
.formField__title {
  display: inline-block;
  color: $grey-3;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.13em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
.formField__field {
  position: relative;
}
.formField_onPreviewCard .formField__field {
  width: 100%;
}
.formField__field_fullWidth {
  width: 100%;
}
.formField__title:has(+ .formField__field .formField__control:disabled) {
  cursor: default;
}
.formField__icon {
  display: none;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}
.formField_validity_error .formField__icon_error {
  display: inline-block;
  color: $error;
}
.formField_validity_success .formField__icon_success {
  display: inline-block;
  color: $success;
}
.formField_validity_success .formField__control_type_textInput,
.formField_validity_success .formField__control_type_textInput:focus {
  border-color: $success;
}
.formField_validity_error .formField__control_type_textInput,
.formField_validity_error .formField__control_type_textInput:focus {
  border-color: $error;
}
.formField__status {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.2;
}
.formField_validity_success .formField__status { 
  color: $success;
}
.formField_validity_error .formField__status { 
  color: $error;
}
.formField_disabled .formField__status {
  color: var(--text-mute-color, $grey-2)
}
@media (--layout-mf-sm) {
  .formField_onPreviewCard {
    font-size: 12px;
  }
}
@media (--layout-mf-lg) {  
  .formField_onPreviewCard {
    width: 100%;
  }
}
