.formField {
  font-size: 16px;

  @include box-stack(0.31em, flex-start);
}
.formField_onPreviewCard {
  font-size: 10px;
  width: 90%;
}
.formField__title {
  display: inline-block;
  color: $grey-3;
  text-transform: uppercase;

  @include text-interactive();
  @include font(0.75rem, 1.13, 500, false, 0.03em);
}
.formField__field {
  position: relative;
}
.formField_onPreviewCard .formField__field {
  width: 100%;
}
.formField__field_fullWidth {
  width: 100%;
}
.formField__title:has(+ .formField__field .formField__control:disabled) {
  cursor: default;
}
.formField__icon {
  display: none;
  transform: translateY(-50%);

  @util position(absolute, 50% 1em null null);
  @util size(1.5em);
}
.formField_validity_error .formField__icon_error {
  display: inline-block;
  color: $error;
}
.formField_validity_success .formField__icon_success {
  display: inline-block;
  color: $success;
}
.formField_validity_success .formField__control_type_textInput,
.formField_validity_success .formField__control_type_textInput:focus {
  border-color: $success;
}
.formField_validity_error .formField__control_type_textInput,
.formField_validity_error .formField__control_type_textInput:focus {
  border-color: $error;
}
.formField__status {
  @include font(0.75rem, 1.2, 500);
}
.formField_validity_success .formField__status { 
  color: $success;
}
.formField_validity_error .formField__status { 
  color: $error;
}
.formField_disabled .formField__status {
  color: var(--text-mute-color, $grey-2)
}
@media (--layout-mf-sm) {
  .formField_onPreviewCard {
    font-size: 12px;
  }
}
@media (--layout-mf-lg) {  
  .formField_onPreviewCard {
    width: 100%;
  }
}
