.burgerMenu {
  display: none;
}
.burgerMenu_onDesktopAvailiable {
  display: block;
}
.burgerMenu__closeButton {
  display: none;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: var(--grey-2, #dde2e5);
  position: absolute;
  top: 24px;
  left: 16px;
}
.burgerMenu__closeButton:active {
  background: var(--grey-3, #acb5bd);
}
.burgerMenu__closeButtonIcon {
  width: 24px;
  height: 24px;
}
.burgerMenu__themeToggler {
  margin-top: 16px;
  display: none;
}
@media screen and (max-width: 767px) {
  .burgerMenu {
    position: fixed;
    display: block;
    width: 100%;
    inset: 0;
    padding-top: 64px;
    background: var(--bg-color, var(--grey-0, #f9fafc));
    transform: translateX(-100vw);
    transition: transform 0.25s linear;
    z-index: 1;
  }
  .burgerMenu_noTopSeparator {
    padding-top: 80px;
  }
  .burgerMenu_forHeaderTransparent {
    background: transparent;
  }
  .burgerMenu[data-open] {
    transform: translateX(0);
  }  
  .burgerMenu__content {
    padding: 0 16px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
  }
  .burgerMenu_forHeaderTransparent .burgerMenu__content {
    background: var(--bg-color, var(--grey-0, #f9fafc));
  }
  .burgerMenu__closeButton {
    display: inline-block;
  }
  .burgerMenu__themeToggler {
    display: block;
  }
  .burgerMenu_noTopSeparator .burgerMenu__themeToggler {
    margin-top: 0;
  }
  .burgerMenu__contentGroup {
    padding: 24px 0;
    border-top: 1px solid var(--grey-2, #dde2e5);
  }
  .burgerMenu_noTopSeparator .burgerMenu__themeToggler .burgerMenu__contentGroup {
    border-top: 0;
  }
  .burgerMenu__menu {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .burgerMenu_noTopSeparator {
    padding-top: 64px;
  }
  .burgerMenu_noTopSeparator .burgerMenu__themeToggler {
    margin-top: 16px;
  }
  .burgerMenu_forHeaderTransparent .burgerMenu__closeButton {
    top: 16px;
    left: 16px;
  }
}
