.burgerMenu {
  display: none;
}
.burgerMenu_onDesktopAvailiable {
  display: block;
}
.burgerMenu__closeButton {
  display: none;
  cursor: pointer;
  position: absolute 24px * * 16px;

  @include reset-geometry(true);
  @util circle(32px, $grey-2);
}
.burgerMenu__closeButton:active {
  background: $grey-3;
}
.burgerMenu__closeButtonIcon {
  size: 24px;
}
.burgerMenu__themeTogglerBox {
  margin-top: 16px;
  display: none;
}
.burgerMenu__themeToggler {
  @include box-aligning();
}
.burgerMenu__themeTogglerLabel {
  color: var(--text-contrast-color, $black);

  @include text-interactive();
  @include font-def(); 
}
@media (--layout-df-md) {
  .burgerMenu {
    display: block;
    padding-top: 64px;
    background: var(--page-bg-color, $grey-0);
    transform: translateX(-100vw);
    transition: transform 0.25s linear;

    @include box-covering(fixed, 2);
  }
  .burgerMenu_noTopSeparator {
    padding-top: 80px;
  }
  .burgerMenu_forHeaderTransparent {
    background: transparent;
  }
  .burgerMenu[data-open] {
    transform: translateX(0);
  }  
  .burgerMenu__content {
    padding: 0 16px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
  }
  .burgerMenu_forHeaderTransparent .burgerMenu__content {
    background: var(--page-bg-color, $grey-0);
  }
  .burgerMenu__closeButton {
    display: inline-block;
  }
  .burgerMenu__themeTogglerBox {
    display: block;
  }
  .burgerMenu_noTopSeparator .burgerMenu__themeTogglerBox {
    margin-top: 0;
  }
  .burgerMenu__contentGroup {
    padding: 24px 0;
    border-top: 1px solid $grey-2;
  }
  .burgerMenu_noTopSeparator .burgerMenu__themeTogglerBox .burgerMenu__contentGroup {
    border-top: 0;
  }
  .burgerMenu__menu {
    display: block;
  }
}
@media (--layout-df-sm) {
  .burgerMenu_noTopSeparator {
    padding-top: 64px;
  }
  .burgerMenu_noTopSeparator .burgerMenu__themeTogglerBox {
    margin-top: 16px;
  }
  .burgerMenu_forHeaderTransparent .burgerMenu__closeButton {
    top: 16px;
    left: 16px;
  }
}
