@use 'sass:map';

@custom-media --layout-mf-min screen and (width >= map-get($layout-breakpoints, min));
@custom-media --layout-mf-sm screen and (width >= map-get($layout-breakpoints, sm));
@custom-media --layout-mf-md screen and (width >= map-get($layout-breakpoints, md));
@custom-media --layout-mf-lg screen and (width >= map-get($layout-breakpoints, lg));
@custom-media --layout-mf-xl screen and (width >= map-get($layout-breakpoints, xl));
@custom-media --layout-df-min screen and (width < map-get($layout-breakpoints, min));
@custom-media --layout-df-sm screen and (width < map-get($layout-breakpoints, sm));
@custom-media --layout-df-md screen and (width < map-get($layout-breakpoints, md));
@custom-media --layout-df-lg screen and (width < map-get($layout-breakpoints, lg));
@custom-media --layout-df-xl screen and (width < map-get($layout-breakpoints, xl));

:root {
  --bg-color: #{$grey-0};
  --border-color: #{$grey-3};
  --page-bg-color: var(--bg-color);
  
  --text-primary-color: #{$black};
  --text-contrast-color: var(--text-primary-color);
  --text-contrastOnLight-color: #{$grey-4};
  --text-contrastOnDark-color: #{$grey-3};
  --text-regular-color: #{$grey-4};
  --text-pale-color: #{$grey-3};
  --text-mute-color: #{$grey-2};  

  --content-color: #{$grey-2};
  --content-bg-color: #{$white};
  --content-border-color: var(--border-color);

  --control-color: #{$grey-4};
  --control-bg-color: #{$white};
  --control-border-color: #{$grey-2};
  --control-active-border-color: #{$grey-3};
  --control-active-bg-color: #{$grey-1};
  --control-checked-color: #{$primary};
  --control-checked-active-color: #{$primary-active};
  --control-disabled-color: #{$grey-2};
  --control-disabled-border-color: #{$grey-2};
  --control-disabled-bg-color: #{$grey-1};
}
:root[data-theme-dark] {
  --bg-color: #{$grey-4};
  --content-bg-color: #{$black};

  --text-primary-color: #{$white};
  --text-contrast-color: #{$grey-3};
  --text-contrastOnLight-color: #{$grey-3};
  --text-contrastOnDark-color: #{$grey-2};
  --text-regular-color: #{$grey-3};
  --text-mute-color: #{$grey-4};

  --control-color: #{$white};
  --control-active-border-color: #{$white};
  --control-active-bg-color: #{$grey-4-lighter};
  --control-disabled-color: #{$grey-4-lighter};
  --control-disabled-border-color: #{$grey-4};
  --control-disabled-bg-color: #{$grey-4};
}
html,
body {
  height: 100%;
}
html[data-theme-dark] pre code.hljs {
  background: var(--content-bg-color, $black);
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}
body:has(.burgerMenu[data-open]) {
  overflow: hidden;
}
body:has(.burgerMenu[data-open]) .burgerMenuShowButton {
  opacity: 0;
}  
.preload ._noAnimateOnload {
  transition: none !important;
  animation-duration: 0s !important;
}
