.compPreviews__tabs {
  margin-top: -62px;
}
.compPreviews__tabContent {
  padding-top: 16px;
  color: var(--text-contrast-color, $black);
}
.compPreviews__loadMoreBtn {
  width: 182px;
  display: block;
  margin: 64px auto 0;
}
@media (--layout-mf-md) {
  .compPreviews__tabs {
    margin-top: -63px;
  }
}
@media (--layout-mf-lg) {  
  .compPreviews__tabContent {
    padding-top: 32px;
  }
}
@media (--layout-mf-xl) {
  .compPreviews__tabContent {
    padding-top: 68px;
  }
}
