.menu {
  display: grid;
  grid-auto-flow: row;
  row-gap: 32px;
  align-content: start;
}
.menu__list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 4px;
  margin-top: 16px;
}
.menu__title {
  color: var(--text-contrast-color, $black);
  margin: 0;

  @include font(20px, 26px, $font-weight-def);
}
.menu__item {
  color: var(--text-contrast-color, $black);
  text-decoration: none;

  @include font(14px, 22px);
}
.menu__item_active,
.menu__item:hover {
  color: $notification;
}
.menu__item:visited:not(.menu__item_active, :hover) {
  color: var(--text-contrast-color, $black);
}
@media (--layout-df-md) {
  .menu__title {
    color: var(--text-pale-color, $grey-3);
  }
  .menu__list {
    row-gap: 16px;
  }
  .menu__item {
    @include font-def();
  }
}
