.textInput {
  border: 1px solid var(--control-border-color, #dde2e5);
  border-radius: 0.4em;
  color: var(--text-contrast-color, #334d6e);
  padding: 0.85em 2.4em 0.65em 1.2em;
  font-size: 1.25em;
  line-height: 1.3em;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
  background: transparent;
}
.textInput_compact {
  padding: 0.5em 2.4em 0.4em 1.2em;
}
.textInput_fullWidth {
  width: 100%;
}
.textInput::placeholder {
  color: var(--text-mute-color, #dde2e5);
}
.textInput:disabled {
  background-color: var(--control-disabled-bg-color, #f8f9fa); 
  color: var(--control-disabled-color, #59616a);
  border-color: var(--control-disabled-border-color, #dde2e5);
}
.textInput:focus {
  border-color: var(--control-checked-color, var(--blue, #4263eb));
}
