.textInput {
  border: 1px solid var(--control-border-color, #dde2e5);
  border-radius: 8px;
  color: var(--text-contrast-color, #334d6e);
  padding: 17px 48px 13px 24px;
  font-size: 20px;
  line-height: 26px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
  background: transparent;
}
.textInput_compact {
  padding: 10px 48px 8px 24px;
}
.textInput_fullWidth {
  width: 100%;
}
.textInput::placeholder {
  color: var(--text-mute-color, #dde2e5);
}
.textInput:disabled {
  background-color: var(--control-disabled-bg-color, #f8f9fa); 
  color: var(--control-disabled-color, #59616a);
  border-color: var(--control-disabled-border-color, #dde2e5);
}
.textInput:focus {
  border-color: var(--control-checked-color, var(--blue, #4263eb));
}
